# Dependencias de Django y API
Django==5.2.4
psycopg2-binary==2.9.10
djangorestframework==3.15.2
django-cors-headers==4.4.0
djangorestframework-simplejwt==5.3.1
PyJWT==2.9.0
celery==5.5.3
gunicorn==22.0.0
python-dotenv==1.0.1
boto3>=1.35.0

# Dependencias Geo (GDAL)
geopandas==0.14.3
shapely==2.0.4

# Dependencias de ML/API
requests
numpy==1.26.4
huggingface-hub

# Dependencias de Caché
redis==4.6.0
django-redis==5.4.0
hiredis==2.3.2

# --- ELIMINADAS ---
# Dependencias de ML
# transformers==4.40.0
# torch==2.3.1 --index-url https://download.pytorch.org/whl/cpu

# Dependencias de Scraping (Selenium)
# beautifulsoup4==4.12.3
# selenium==4.19.0
# webdriver-manager==4.0.1
